/Vol.Vue/node_modules
/Vue.Net/VOL.Web/bin
/Vue.Net/VOL.WebApi/bin
/Vue.Net/VOL.WebApi/Download/ExcelExport
/Vue.Net/VOL.WebApi/Download/Logger
/Vue.Net/VOL.WebApi/Download/SqlLog
/Vue.Net/VOL.WebApi/obj
/Vue.Net/.vs
/Vue.Net/VOL.Entity/bin
/Vue.Net/VOL.Entity/obj
/Vue.Net/VOL.AppManager/bin
/Vue.Net/VOL.AppManager/obj
/Vue.Net/VOL.Builder/obj
/Vue.Net/VOL.Builder/bin
/Vue.Net/VOL.Core/obj
/Vue.Net/VOL.Core/bin
/Vue.Net/VOL.Order/obj
/Vue.Net/VOL.Order/bin
/Vue.Net/VOL.System/obj
/Vue.Net/VOL.System/bin
/Vue.Net/VOL.Web/obj
/Vue.Net/VOL.WebApi/Download/*
/Vol.Vue/dist
/Vue.Net/VOL.WebApi/wwwroot/Upload/
/Vue.Net/VOL.Web
/Vue.Net.Development/Vue.NetCore/Vol.Vue/node_modules
/Vue.Net.Development/Vue.NetCore/Vol.Vue/dist
/Vue.Net.Development/Vue.NetCore/Vol.Vue/dist.zip
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.System/bin
/Vue.Net.Development/Vue.NetCore/Vue.Net/.vs
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.WebApi/bin
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.WebApi/Download/*
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.WebApi/wwwroot/*
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.WebApi/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Business/obj/*
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Business/bin/*
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Entity/bin
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Builder/bin
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Core/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Builder/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Entity/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.System/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.WebApi/obj
/Vue.Net.Development/Vue.NetCore/Vue.Net/JA.Core/bin
